*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.header-first-section {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: white;
}

.first-h1 {
    margin: 4px;
    font-family: Arial;
}

.menu ul{
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
    gap: 52px;
    font-size: 18px;
}

.menu ul a {
    text-decoration: none;
    color: gray;
}

.menu ul a:hover {
    transition: all 200ms ease-in;
    color: black; 
}


.header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: flex;
    height: 60px;
    background-color:rgb(241, 194, 50);
}

.logo {
    width: 70px;
    height: auto;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    align-items:center;
}

.text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    cursor: pointer;
}
.content-main {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    background-color: rgb(181, 215, 95);
    height: 100vh; 
}

.img-main img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-left: 25px;
}

.text-main {
    margin-left: 50px;
    font-size: 50px;
}

.btn-header {
    appearance: button;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgb(241, 194, 50);
    font-size: 18px;
    border: 1px solid;
    color: black;
    text-decoration: none;
}
.btn-header:hover {
    border: 2px solid ;
}




/* Catálogo */

.catalogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.itens-catalogo .info {
    background-color: white;
    color: gray;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.itens-catalogo {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,80px));
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.itens-catalogo img{
    width: 100%;
    height: 350px;
}

.list-info {
    line-height: 1.5;
    font-size: 20px;
}

.btn-catalogo {
    margin-top: 10px;
    appearance: button;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 30px;
    background-color: rgb(241, 194, 50);
    font-size: 25px;
    border: 1px solid;
    color: black;
    text-decoration: none;
}
 .btn-catalogo:hover {
        transition: all 200ms ease-in;
        background-color: transparent;
        border: 2px solid rgb(241, 194, 50);
}

.borda-final {
    width: 100%;
    height: 60px;
    background-color: rgb(241, 194, 50);
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.footer h3 {
    font-size: 15px;
}

strong {
    display: flex;
    align-items: center;
    justify-content: center;
}

    
